
.container {
	display: flex;
	justify-content: center;
	position: relative;
	text-align: center;
	color: white;
}

.centered {
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);

}


/*#mc_embed_signup{
	background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; 
} */


h3 {
	text-align: center;
	font-style: italic;	
}

.center {
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);

}

.btn-light {
	background-color: orange;
}
.btn-light:hover {
	background-color: grey;
}